/*class = {"Node", "Main", "Parent", "Child"}*/

.Node {
	/*for positioning center*/
	position:  fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	
	/*for circle shape*/
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px solid transparent;

	/*for text align*/
	padding: 50px;
	line-height: 1.8em;
	text-align: center;
	word-break: break-all;
	overflow: scroll;

	transform: matrix(1,0,0,1,0,0);
	-webkit-transform: matrix(1,0,0,1,0,0);
}

/*지금은 Child, Parent 에 동일한 스타일을 부여했으나, 추후에 다르게 할 수도 있으므로.. 일단 클래스 다르 부여.*/
.Child {
	transform:
	scale(0.5, 0.5);
	-webkit-transform:
	scale(0.5, 0.5);
}


.Parent {
	transform:
	scale(0.5, 0.5);
	-webkit-transform:
	scale(0.5, 0.5);
}
