* {
  padding: 0;
  margin: 0;
}

header {
	/*이전 header 스타일*/
	font-size: 2em;
	position: absolute;
	top: 0%;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

footer {
	font-size: 1em;
	position: absolute;
	top: 100%;
	margin-top: -2em;
}

#None {
	font-size: 2em;
	overflow: hidden;
}

#bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
	opacity:0.1;
}

.Node {
	/*referenced : http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/

	/*for circle shape*/
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px solid transparent;

	/*for positioning center*/
	position:  fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	
	/*for text align*/
	padding: 50px;
	line-height: 1.8em;
	text-align: center;
	word-break: break-all;
	overflow: auto;

	transform: matrix(1,0,0,1,0,0);
	-webkit-transform: matrix(1,0,0,1,0,0);

	box-shadow: 5px 5px 10px 2px rgba(196, 196, 196, 1.0);
}

/*지금은 Child, Parent 에 동일한 스타일을 부여했으나, 추후에 다르게 할 수도 있으므로.. 일단 클래스 다르 부여.*/
.Child {
	transform:
	scale(0.5, 0.5);
	-webkit-transform:
	scale(0.5, 0.5);

	/*글자는 크기 줄이면 안 됨.*/
	font-size: 150%;
}
.Parent {
	transform:
	scale(0.5, 0.5);
	-webkit-transform:
	scale(0.5, 0.5);

	/*글자는 크기 줄이면 안 됨.*/
	font-size: 150%;
}